<section id="search-area" class="group">
  <input id="query" type="text" class="query" placeholder="Search by Username" value="<%=users.query%>">
  <img id="little-magnifying-glass" src="https://s3.amazonaws.com/codevelopavatarproduction/Musica_Searcher_32.png"/>
</section>
<section class="infinite-users">
<ul class='users group'>
  <% users.each(function(user) { %>
    <a class="test-button" href="#/users/<%= user.id %>" data-user-id="<%= user.id%>">
      <li class="user-index-block">
        <img class="user-picture" src="<%= user.escape('avatar_url') %>">
        <h3><%= user.escape('username') %></h3>
        <p><%= user.escape('language') %></p>
        <p> <%= user.escape("match_score") | 0 %>% Match</p>
      </li>
    </a>
  <% }) %>
</ul>
</section>
<div id="loading-message"></div>
<div id="attribution">Icon made by <a href="http://www.behance.com/pio-5" title="Egor Rumyantsev">Egor Rumyantsev</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
