<section id="search-area">
  <label for="query">Query</label>
  <input id="query" type="text" class="query">
</section>
<ul class='users group'>
  <% users.each(function(user) { %>
    <a href="#/users/<%= user.id %>">
      <li class="user-index-block">
        <img class="user-picture" src="<%= user.escape('avatar_url') %>">
        <h3><%= user.escape('username') %></h3>
        <p><%= user.escape('language') %></p>
        <p> <%= user.escape("match_score") %>% Match</p>
      </li>
    </a>
  <% }) %>
</ul>
