<div id="left-scrim">
</div>
<div class="modal-profile">
  <div class="top-of-things">
    <p><%=user.escape("match_score")%> &#x2022; <%=user.escape("language")%></p>
    <% if (user.id && currentUser.id){ %>
      <button id="modal-start-convo">Message</button>
    <% } %>
    <div id="modal-profile">
      <img src='<%=user.get("avatar_url")%>' id="modal-profile-pic">
    </div>
    <h1 id="modal-username"><%=user.get("username")%><h1>
  </div>
  <div class="bottom-of-things">
    <div id="modal-about-fields" class="group">
      <h1>About Me</h1>
      <p><%=user.escape("about_field_one")%></p>
      <h1>Skills</h1>
      <p><%=user.escape("about_field_two")%></p>
      <h1>Message Me If</h1>
      <p><%=user.escape("about_field_three")%></p>
    </div>
    <a class="modal-profile-button" href="#/users/<%= user.id %>">Visit Profile</a>
  </div>
</div>
