<section class="face-view group">
  <div class="prof-section group">
    <img class="profile-picture" src="<%= user.escape('avatar_url') %>">
  </div>
  <h1 id="username"><%= user.escape('username') %></h1>
  <h1 id="facts"><%=user.escape('age')%> | <%=user.escape('language')%> | <%=user.escape('match_score')%>% match</h1>
  <% if (user.id && currentUser.id) { %>
  <button id="start-convo">Send a message!</button>
  <% } %>
</section>
<section class="content-selector-buttons group">
  <ul class="tabs" data-content-tabs="#content-tabs">
    <li><button id="about-button" class="active">About</button></li>
    <li><button id="photo-button">Photos</button></li>
  </ul>
</section>
<section class="content-tabs group"></section>
<section class="self-facts-view group">
  <div id="language">
    <h3>I Program in:</h3>
      <ul>
        <li><%=user.escape('language')%></li>
      </ul>
  </div>
  <div id="details">
    <h3>My details</h3>
    <ul>
      <li class="group">
        <label>Age:</label>
        <p><%= user.escape('age') %></p>
      </li>
      <li class="group">
        <label>Job:</label>
        <p><%= user.escape('job') %></p>
      </li>
      <li class="group">
        <label>Looking For:</label>
        <p><%= user.escape('looking_for') %></p>
      </li>
    </ul>
  </div>
</section>
<script>
$(".content-selector-buttons button").click( function(event) {
  $(".content-selector-buttons button").removeClass("active");
  $(event.currentTarget).addClass("active");
})
</script>
