
<h1>Messages</h1>
<% if (conversations.length > 0) { %>
<ul class="conversation-list">
<% conversations.each(function(conversation){ %>
  <% if (conversation.get("user_one") !== undefined && !(conversation.replies().length === 0)) { %>
    <% var otherPerson = user.notMe(conversation.get("user_one"), conversation.get("user_two")) %>
    <li class="conversation-box">
      <img id="img-thumbnail" src="<%= otherPerson.avatar_url%>">
      <a href="#/messages/<%= conversation.id %>" class="group">
        <p>Conversation with <%=otherPerson.username%> </p>
        <p><%= conversation.replies().first().get("user").username %>: <%= conversation.replies().first().get("body") %> </p>
        <p>Sent <%= conversation.replies().first().get("time") %> ago</p>
      </a>
    </li>
  <% } %>
<% }) %>
</ul>
<% } else { %>
  <div class="empty-convo-list">
    <h1 id="message-exhortation">Looks like you haven't messaged anyone... what are you waiting for? </h1>
    <a id="find-pair" href="#">Find a Pair</a>
  </div>
<% } %>
