<% if (conversation.get("user_one") !== undefined) { %>
<% var otherPerson = currentUser.notMe(conversation.get("user_one"), conversation.get("user_two")) %>
<div class="mini-profile group">
  <img class="face-thumb" src="<%= otherPerson.avatar_url %>"/>
  <h3><%= otherPerson.username%></h3>
  <p id="personal-facts"><%=otherPerson.age%> | <%=otherPerson.language%> | <%=otherPerson.match_score%>% match</h1>
</div>
<ul>
  <% conversation.replies().each(function(reply) { %>
    <li><%= reply.get("user").username %>: <%= reply.get("body") %></li>
  <% }) %>
</ul>
<% } %>
<form id="send-message">
  <label for="body">Send a Message</label>
  <textarea name="conversation_reply[body]" id="body"></textarea>
  <button>Send</button>
</form>
<a href="#/messages">Back to Conversation Index</a>
