<h1> Messages</h1>
<ul>
<% conversations.each(function(conversation){ %>
  <% if (conversation.get("user_one") !== undefined && !(conversation.replies().length === 0)) { %>

    <li class="conversation-box">
      <img id="img-thumbnail" src="<%= conversation.replies().first().get("user_avatar_url") %>">
      <a href="#/messages/<%= conversation.id %>" class="group">
        <p>Conversation with <%=user.notMe(conversation.get("user_one"), conversation.get("user_two")).username%> </p>
        <p><%= conversation.replies().first().get("user").username %>: <%= conversation.replies().first().get("body") %> </p>
        <p>Received at: <%= conversation.replies().first().get("time") %></p>
      </a>
    </li>

  <% } %>
<% }) %>
</ul>
