
<h1><%= question.escape("body") %></h1>

<form id="user-answer">
<div class="question-answers">

  <% answers.forEach(function(answer){ %>

    <input id="<%=answer.escape("body")%>" class="answer" type="radio" name="user_answer[answer_choice_id]" value="<%=answer.id%>">
    <label for="<%=answer.escape("body")%>"><%=answer.escape("body")%></label>
  <% }) %>
</div>
<div class="question-weights">
  <h3>Importance</h3>
  <input id="little" class="answer" type="radio" name="user_answer[weight]" value="1">
  <label for="little">A Little</label>
  <input id="somewhat" class="answer" type="radio" name="user_answer[weight]" value="10">
  <label for="somewhat">Somewhat</label>
  <input id="very" class="answer" type="radio" name="user_answer[weight]" value="250">
  <label for="very">Very</label>
</div>
<div class="optional-text-area">
  <h3>Explain your answer.</h3>
  <textarea id="optional-text" name="user_answer[explanation]"></textarea>
</div>
<div class="question-submit-buttons">
  <button class="submit-question">Answer</button>
  <button class="skip-question">Skip Question</button>
</div>
</form>
