<section class="face-view">
  <form>
    <div class="prof-section">
      <img src="https://s3.amazonaws.com/codevelopavatarproduction/edit_profile_icon.png" class="edit-pencil" id="profile-edit-pencil">
      <img class="profile-picture" src="<%= user.escape('avatar_url') %>">
    </div>
    <input type="file" name="user[avatar]" id="input-user-avatar"/>
  </form>
  <%= user.escape('username') %>
</section>
<section class="content-selector-buttons group">
  <ul class="tabs" data-content-tabs="#content-tabs">
    <li><button id="about-button" class="active">About</button></li>
    <li><button id="question-button">Questions</button></li>
  </ul>
</section>
<section class="content-tabs group"></section>
<section class="self-facts-view group">
  <div id="looking-for">
    <h3>I'm looking For</h3>
      <ul>
        <li><%=user.escape('language')%></li>
      </ul>
  </div>
  <h3>My details</h3>
  <div id="details">
    <img src="https://s3.amazonaws.com/codevelopavatarproduction/edit_profile_icon.png" class="edit-pencil edit-button" id="change-details">
    <ul>
      <li>
        <label>Age:</label>
        <p><%= user.escape('age') %></p>
      </li>
      <li>
        <label>Job:</label>
        <p><%= user.escape('job') %></p>
      </li>
      <li>
        <label>Looking For:</label>
        <p><%= user.escape('looking_for') %></p>
      </li>
    </ul>
  </div>
</section>
<script>
  $(".prof-section").click( function() {
    $("#input-user-avatar").trigger('click');
  });
</script>
