<section class="face-view">
  <form>
    <img class="profile-picture" src="<%= user.escape('avatar_url') %>">
    <input type="file" name="user[avatar]" id="input-user-avatar">Upload Picture</input>
  </form>
  <%= user.escape('username') %>
</section>
<section class="content-selector-buttons group">
  <ul class="tabs" data-content-tabs="#content-tabs">
    <li><button id="about-button" class="active">About</button></li>
    <li><button id="question-button">Questions</button></li>
  </ul>
</section>
<section class="content-tabs group"></section>
<section class="self-facts-view group">
  <div id="looking-for">
    <h3>I'm looking For</h3>
      <ul>
        <li><%=user.escape('language')%></li>
      </ul>
  </div>
  <div id="details">
    <h3>My details</h3>
    <ul>
      <li>
        <label>Age:</label>
        <p><%= user.escape('age') %></p><button id="change-age" class="edit-button">Edit</button>
      </li>
      <li>
        <label>Job:</label>
        <p><%= user.escape('job') %></p><button id="change-job" class="edit-button">Edit</button>
      </li>
      <li>
        <label>Looking For:</label>
        <p><%= user.escape('looking_for') %></p><button id="change-looking" class="edit-button">Edit</button>
      </li>
    </ul>
  </div>
</section>
