<!DOCTYPE html>
<html>
<head>
  <title>Codevelop</title>


  <%= stylesheet_link_tag    'application', media: "all" %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
  <script>
  //  // Enable pusher logging - don't include this in production
  //  Pusher.log = function(message) {
  //    if (window.console && window.console.log) {
  //      window.console.log(message);
  //    }
  //  };
   //
  //  Pusher.log = function(message) {
  //    console.log(message);
  //  }

   window.pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
  </script>
</head>
<body>
<!-- <%= render partial: "layouts/errors" %> -->
<%= yield %>

</body>
</html>
